* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: oswald, sans-serif;
    font-weight: 100;
    font-style: normal;
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    margin: auto;
}
/*navigation*/

.navbar{
    width: 100%;
    margin: auto;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 100px;
    min-height: 0;
    float: left;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
    
}
.navbar-brand{
    left: 6%;
    transform: translatex(-50%);
    position: relative;
    font-weight: 1000;
}
.navbar-nav a{
    left: 110%;
    transform: translatex(-50%);
    position: relative;
}
.navbar-nav{
    font-size: 25px;
    align-items: center;
    font-family: oswald, sans-serif;
    font-style: normal;
}
.navbar-nav a{
    width: 125px;
}

/*showcase*/
hr{
    width: 1px;
}

.showcase {
    width: 90%;
    height: 550px;
    background: url(img/eco2.jpg) no-repeat center center/cover;
    padding-bottom: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 80px;
    min-height: 0;
    
}
.showcase h2{
    font-size: 50px;
    
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 40px;
    background: #262626;
    color:  #ffff;
    font-size: 15px;
    border: 1px solid #ffff;

}
.btn:hover{
    opacity: .7;
}
.showcase h2,
.showcase p {
    margin-bottom: 10px;
}
/* NEWS CARD*/
.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}
.news-cards img{
    width: 100%;
    height: 180px;
    border: 1px solid transparent;
    border-radius: 30px;
    min-height: 0;

}
.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}
.news-cards a{ 
    padding: 10px 0;
    color: #010000;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: coral;
}