* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: oswald, sans-serif;
    font-weight: 100;
    font-style: normal;
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    margin: auto;
}
/*navigation*/

.navbar{
    width: 100%;
    margin: auto;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 100px;
    min-height: 0;
    float: left;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
    
}
.navbar-brand{
    left: 6%;
    transform: translatex(-50%);
    position: relative;
    font-weight: 1000;
}
.navbar-nav a{
    left: 122.5%;
    transform: translatex(-50%);
    position: relative;
}
.navbar-nav{
    font-size: 25px;
    align-items: center;
    font-family: oswald, sans-serif;
    font-style: normal;
}
.navbar-nav a{
    width: 125px;
}

/*showcase*/
hr{
    width: 1px;
}
